.fas {
  font-size: 35px;
  margin-left: 15px;
  margin-top: 10px;
  width: 25%;
}

.textarea {
  border: 2px solid #212121;
}

.height-25 {
  height: 25vh;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #7749f8;
  border: none;
  width: 80px;
  margin-top: 10px;
}

.container {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 30px;
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
}

li:hover {
  background-color: gray;
  opacity: 0.4;
}

.background-img {
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.fixed {
  position: fixed;
}

.lightblue {
  background-color: #a1cae2;
}

.lightgray {
  background-color: lightgray;
}

.background {
  width: 100%;
  left: 205px;
  height: 100vh;
  pointer-events: none;
}

.app-drawer {
  background-color: white;
  width: 250px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 1s;
  z-index: 3;
  overflow: scroll;
}

.background-is-active {
  width: 100%;
  left: 1px;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}

.hidden {
  width: 0;
  overflow: scroll;
}

.accordionCollapse {
  width: 0;
  overflow: scroll;
}

.plan {
  font-family: 'kite one', sans-serif;
}

.pictureUrl {
  width: 425px;
}

.margin-0 {
  margin: 0;
}

.height-7-rem {
  height: 7rem;
  transition: height 1s;
}

.height-0 {
  height: 0;
  transition: height 1s;
}

.flow-auto {
  overflow: auto;
}

.padding-0 {
  padding: 0;
}

.app-drawer-background {
  background-color: #bec3f9 !important;
}

.actName-font {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.actDeets-font {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.pointer {
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: relative;
  bottom: 2rem;
  font-size: 25px;
}

.height-3 {
  height: 4rem;
}

.modal-background {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

.moodal {
  position: fixed;
  top: 250px;
  width: 450px;
  height: 225px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bolder;
}

.row {
  display: flex;
  justify-content: center;
}

.modal-hidden {
  display: none;
}

.delete-no-button {
  padding: 5px 37px;
  font-size: 25px;
  color: white;
  background-color: #c82333;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}

.delete-yes-button {
  padding: 5px 37px;
  font-size: 25px;
  color: white;
  background-color: #7749f8;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}

.justify-around {
  justify-content: space-around;
}

.modal-row {
  display: flex;
}

.pointer-events {
  pointer-events: none;
}

.inter-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.kite-one {
  font-family: 'kite one', sans-serif;
}

.trash:hover {
  color: #c82333;
}

.spinner-height {
  height: 100vh;
  flex-direction: column-reverse;
}
